.or-divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.541);
  line-height: 0.1em;
  margin: 30px 0 30px;

  span {
    background: #fff;
    padding: 0 10px;
  }
}
