.sidebar-item {
  padding: 10px 30px;

  &:hover {
    background-color: #4a647a;
  }

  &.active {
    background-color: #2c4a64;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    .type {
      //color: black;
      font-weight: bold;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }
}
