.dayMeetings {
  .day {
    background-color: #e1e1e6;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }

  .meeting {
    padding-left: 10px;
    margin: 25px 0;

    .top {
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 10px;
    }

    .bottom {
      font-size: 10pt;
    }
  }
}
