.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .login-card {
    padding: 20px;
    margin: -80px 20px 0 20px;

    .heading {
      margin-bottom: 10px;
    }
  }
}
