:root {
  --sidebar-width: 250px;
}

.sidebar {
  background-color: #323232;
  z-index: 900;
  position: fixed;
  top: var(--topbar-height);
  left: calc(-1 * var(--sidebar-width));
  bottom: 0;
  width: var(--sidebar-width);
  transition: left 0.8s;
  background-image: url('../../../assets/img/connected-dots.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

  &.open {
    left: 0;
  }

  .separator {
    height: 2px;
    background-color: #eeeeee;
    width: 75%;
    position: relative;
    left: 11%;
    margin-bottom: 20px;
    margin-top: 5px;
  }
}
